div.obs-sortable-item {
    display: flex;
    align-items: center;
    margin: 8px 0;
}

button.obs-drag-handle {
    touch-action: none;
}

div.obs-row-buttons {
    display: flex;
    gap: 8px;
}

.obs-flex-1 {
    flex: 1 1 0;
}
