div.qbs-sortable-item {
    display: flex;
    align-items: center;
    margin: 8px 0;
}

button.qbs-drag-handle {
    touch-action: none;
}

div.qbs-row-buttons {
    display: flex;
    gap: 8px;
}

.qbs-flex-1 {
    flex: 1 1 0;
}
